#program-options ul{
  display: none;
  padding: 0;
  li {
    list-style: none;

    a {
      //width: 230px;
      padding: .75rem 1rem !important;
      margin-left: 3rem;
    }
  }
}

.diff-from-from-container{

  border-radius: .25rem;
  padding: 10px;
  margin-bottom: 16px;

  .title{
    font-size: 1rem;
  }

}