@import url(https://fonts.googleapis.com/css?family=Nunito);#program-options ul {
  display: none;
  padding: 0;
}

#program-options ul li {
  list-style: none;
}

#program-options ul li a {
  padding: 0.75rem 1rem !important;
  margin-left: 3rem;
}

