.panel .panel-heading h2 {
  display: inline !important;
  text-transform: uppercase !important;
  font-size: 1.25rem !important;
}

label.required::after {
  content: "*";
  color: red;
}

input[type=image] {
  margin-right: 1rem;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #eeeeee;
}

.styled-checkbox:hover + label:before {
  background: #F39C12;
}

.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
  background: #F39C12;
}

.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

input {
  padding-right: 12px !important;
}

.employee-table tr td {
  white-space: nowrap;
}

.table-striped-custom {
  margin: auto 15px;
}

.table-striped-custom > .row {
  margin-bottom: 5px;
}

.table-striped-custom > div:nth-child(odd) {
  background-color: #F9F9F9;
}

.table-title {
  border-right: 1px solid #f39c12;
  padding: 8px;
}

.table-title p {
  color: #f39c12;
  font-weight: 700;
  text-transform: uppercase;
  text-align: end;
}

.table-content {
  padding: 8px;
}

.cost-title {
  color: #f39c12;
  display: inline-block;
  margin-left: 8px;
  margin-right: 3px;
}

.padding-xs {
  padding: 0.25em;
}

.padding-sm {
  padding: 0.5em;
}

.padding-md {
  padding: 1em;
}

.padding-lg {
  padding: 1.5em;
}

.padding-xl {
  padding: 3em;
}

.padding-x-xs {
  padding: 0.25em 0;
}

.padding-x-sm {
  padding: 0.5em 0;
}

.padding-x-md {
  padding: 1em 0;
}

.padding-x-lg {
  padding: 1.5em 0;
}

.padding-x-xl {
  padding: 3em 0;
}

.padding-y-xs {
  padding: 0 0.25em;
}

.padding-y-sm {
  padding: 0 0.5em;
}

.padding-y-md {
  padding: 0 1em;
}

.padding-y-lg {
  padding: 0 1.5em;
}

.padding-y-xl {
  padding: 0 3em;
}

.padding-top-xs {
  padding-top: 0.25em;
}

.padding-top-sm {
  padding-top: 0.5em;
}

.padding-top-md {
  padding-top: 1em;
}

.padding-top-lg {
  padding-top: 1.5em;
}

.padding-top-xl {
  padding-top: 3em;
}

.padding-right-xs {
  padding-right: 0.25em;
}

.padding-right-sm {
  padding-right: 0.5em;
}

.padding-right-md {
  padding-right: 1em;
}

.padding-right-lg {
  padding-right: 1.5em;
}

.padding-right-xl {
  padding-right: 3em;
}

.padding-bottom-xs {
  padding-bottom: 0.25em;
}

.padding-bottom-sm {
  padding-bottom: 0.5em;
}

.padding-bottom-md {
  padding-bottom: 1em;
}

.padding-bottom-lg {
  padding-bottom: 1.5em;
}

.padding-bottom-xl {
  padding-bottom: 3em;
}

.padding-left-xs {
  padding-left: 0.25em;
}

.padding-left-sm {
  padding-left: 0.5em;
}

.padding-left-md {
  padding-left: 1em;
}

.padding-left-lg {
  padding-left: 1.5em;
}

.padding-left-xl {
  padding-left: 3em;
}

.margin-xs {
  margin: 0.25em;
}

.margin-sm {
  margin: 0.5em;
}

.margin-md {
  margin: 1em;
}

.margin-lg {
  margin: 1.5em;
}

.margin-xl {
  margin: 3em;
}

.margin-x-xs {
  margin: 0.25em 0;
}

.margin-x-sm {
  margin: 0.5em 0;
}

.margin-x-md {
  margin: 1em 0;
}

.margin-x-lg {
  margin: 1.5em 0;
}

.margin-x-xl {
  margin: 3em 0;
}

.margin-y-xs {
  margin: 0 0.25em;
}

.margin-y-sm {
  margin: 0 0.5em;
}

.margin-y-md {
  margin: 0 1em;
}

.margin-y-lg {
  margin: 0 1.5em;
}

.margin-y-xl {
  margin: 0 3em;
}

.margin-top-xs {
  margin-top: 0.25em;
}

.margin-top-sm {
  margin-top: 0.5em;
}

.margin-top-md {
  margin-top: 1em;
}

.margin-top-lg {
  margin-top: 1.5em;
}

.margin-top-xl {
  margin-top: 3em;
}

.margin-right-xs {
  margin-right: 0.25em;
}

.margin-right-sm {
  margin-right: 0.5em;
}

.margin-right-md {
  margin-right: 1em;
}

.margin-right-lg {
  margin-right: 1.5em;
}

.margin-right-xl {
  margin-right: 3em;
}

.margin-bottom-xs {
  margin-bottom: 0.25em;
}

.margin-bottom-sm {
  margin-bottom: 0.5em;
}

.margin-bottom-md {
  margin-bottom: 1em;
}

.margin-bottom-lg {
  margin-bottom: 1.5em;
}

.margin-bottom-xl {
  margin-bottom: 3em;
}

.margin-left-xs {
  margin-left: 0.25em;
}

.margin-left-sm {
  margin-left: 0.5em;
}

.margin-left-md {
  margin-left: 1em;
}

.margin-left-lg {
  margin-left: 1.5em;
}

.margin-left-xl {
  margin-left: 3em;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.diff-from-from-container {
  border-radius: 0.25rem;
  padding: 10px;
  margin-bottom: 16px;
}

.diff-from-from-container .title {
  font-size: 1rem;
}

