@import url(https://fonts.googleapis.com/css?family=Nunito);#program-options ul {
  display: none;
  padding: 0;
}

#program-options ul li {
  list-style: none;
}

#program-options ul li a {
  padding: 0.75rem 1rem !important;
  margin-left: 3rem;
}

.diff-from-from-container {
  border-radius: 0.25rem;
  padding: 10px;
  margin-bottom: 16px;
}

.diff-from-from-container .title {
  font-size: 1rem;
}

